@font-face {
    font-family: apple;
    src: url("../SF-Pro.dmg");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: apple;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

#nav{
    height: 50px;
    width: 100%;
}

#nav{
    background-color: #454545;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 20px;
}

#nav>h4{
    color: white;
    font-weight: 300;
}

#center{
    height: 80%;
    width: 100%;
    /* background-color: black; */
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
    background-position: center;
    /* background: cover; */
    background-size: cover;
    text-align: center;
    padding: 50px;
}
h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
}

h5{
    color: white;
    font-size: 40px;
    font-weight: 200;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

#links>button{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    color: white;
}