*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 70px 1fr 0.5fr 0.5fr;

   gap: 10px;
   padding: 10px;
   
   grid-template-areas: "header header header"
   "section section section"
   "div-left bottom-up div-right"
   "div-left bottom-down div-right"
   ;
}

header{
    background-color: aqua;
    grid-area: header;
}
section{
    background-color: bisque;
    grid-area: section;
}
/* aside{
    background-color: yellow;
    grid-area: aside;
}
figure{
    background-color: blueviolet;
    grid-area: figure;
} */

#bottom-up{
    background-color: pink;
    grid-area: bottom-up;
}
#bottom-down{
    background-color: teal;
    grid-area: bottom-down;
}
#div-right{
    background-color: red;
    grid-area: div-right;
}
#div-left{
    background-color: goldenrod;
    grid-area: div-left;
}