*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
   display: grid;
   grid-template-columns: 200px 1fr;
   grid-template-rows: 60px 180px 1fr;
    gap: 10px;
    padding: 10px;
   grid-template-areas: "header header"
   "aside section"
   "figure figure";
}

header{
    background-color: aqua;
    grid-area: header;
}
section{
    background-color: bisque;
    grid-area: section;
}
aside{
    background-color: yellow;
    grid-area: aside;
}
figure{
    background-color: blueviolet;
    grid-area: figure;
}