*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    /* grid-template-columns: 200px 200px 200px 500px; */
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-columns: 50% 50%; */

    /* grid-template-rows: 20% 55%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 2fr 5fr; */

    /* grid-template-columns: 100px minmax(200px, 456px) 100px; */
    /* grid-template-columns: 100px minmax(200px, auto) 100px; */
    /* grid-template-columns: repeat(2, 150px); */
    /* grid-template-columns: repeat(4, 1fr); */
    /* row-gap: 10px; */
    /* column-gap: 5px; */
    /* grid-gap: 10px; */

    /* align-items: flex-start; */
    /* align-items: start; */
    /* justify-items: center; */
    /* justify-items: start; */
}

/* .child{
    background-color: aquamarine;
    border: 3px solid rgb(240, 18, 18);
    height: 100px;
    width: 100px;
}

#child1{
    grid-column-start: 1;
    grid-column-end: 3;
} */