*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#box{
    /*vw = viewport width
    vh = viewport height*/
    height: 30vh;
    width: 80vw;  /*vw vh screen ke respect me kaam karte hai*/
    background-color: crimson;
}

#innerbox{
    height: 30%; /*% depend karta hai parent pe*/
    width: 30%;  /* percentage screen ki size ke hisaab se size leta hai aur parent ke hisab se*/
    background-color: blueviolet;
}