*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 60%;
    width: 80%;
    background-color: crimson;
}

#innerbox{
    height: 30%;
    width: 30%;  /* percentage screen ki size ke hisaab se size leta hai aur parent ke hisab se*/
    background-color: blueviolet;
}