*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

h1{
    color: red;
    font-size: 70px;   /*pixel fixed rehta hai isme screen ka size kam jyada karoge koi farak nahi padega*/
}